# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk


# Compiler and Cashe
*.pyc
/static/.webassets-cache/
.idea/
/tests

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Prediction data collection
/ignore
/static/javascript/.tern-port
/static/build
/logs/*
/static/javascript/localConfig.js

*.log

# text-based version we might want to revisit someday
old_routes.*

# text files used to make static json dictionaries
/data
/MBTA_GTFS_texts
