$brand-1:   #0848b2;
$brand-2:   #1585d4;
$brand-3:   #01AAE9;
$brand-4:   #86ccf5;
$brand-5:   #CAE1EA;

$accent-1:    #7f0e41;
$accent-2:    #b00e5a;
$accent-3:    #EF3D59;
$accent-4:    #f56f6f;
$accent-5:    #ffd0d0;

$neutral-1:   #282828;
$neutral-2:   #424242;
$neutral-3:   #686868;
$neutral-4:   #8d8e8e;
$neutral-5:   #b4b4b4;
$neutral-6:   #c3c5c7;
$neutral-7:   #d4d9d9;
$neutral-8:   #e0e4e5;
$neutral-9:   #ecefef;
$neutral-10:  #F8F8F8;

$error-1:   #801319;
$error-2:   #99171D;
$error-3:   #B31B22;
$error-4:   #CC1F27;
$error-5:   #F2242F;

$warn-1:    #806613;
$warn-2:    #997B17;
$warn-3:    #B38F1B;
$warn-4:    #CCA41F;
$warn-5:    #E6B822;

$success-1:   #4D8013;
$success-2:   #5C9917;
$success-3:   #6CB31B;
$success-4:   #7BCC1F;
$success-5:   #8AE622;