*, *:before, *:after {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-weight: 400;
  color: $neutral-2;
  font-family: Roboto;
  background-color: $neutral-10;
  height: 100%;
  overflow: hidden;
  min-width: 900px;
}

a {
  color: $brand-1;
  text-decoration: none;

  &:hover {
    color: $brand-2;
  }
}

ul {
  padding-left: 0;
  li {
    list-style: none;
  }
}

// Layout //

$navbar-height: 60px;
$global-side-padding: 2em;
.visualization {
  overflow: hidden;
  position: absolute;
  top: $navbar-height;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 900px;
  #map, #graph {
    width: 100%;
    height: 100%;
  }
}


header {
  display: flex;
  align-items: center; 
  justify-content: space-between;

  width: 100%;
  height: $navbar-height;
  padding: 0 $global-side-padding;
  background-color: $brand-2;
  
  .logo {
    color: $accent-1;
    font-size: 1.2em;
  }
  .routeCtrl {
    i {font-size: 1em;}
    color: desaturate($brand-4, 30%);
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      color: white;
    }
  }

  nav {
    display: flex;
    justify-content: flex-end;

    & > a {
      display: inline-block;
      padding: 0 $global-side-padding/2;
      color: $brand-5;
      transition: all .3s;
      height: $navbar-height;
      line-height: $navbar-height;

      &:hover, &.active {
        color: white;
        background-color: darken(desaturate($accent-1, 40%), 5%);
      }
    }
  }
}

.routeToggleControl{
    display: none;
  padding: $global-side-padding/2 $global-side-padding;
  position: absolute;
  background-color: white;
  border-bottom: 1px solid $neutral-6;
  box-shadow: 0 1px 3px $neutral-8;
  z-index: 2;
}


/*--------------------
  Table Simple Override
---------------------*/

table, th, td {
   border: none;
}

table {
  width:100%;
  display: table;
  background-color: transparent;
}

td, th{
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  font-weight: normal;
}
