.swatch {
    display: inline-block;
    height: 15px;
    width: 15px;
    margin-right: 3px;
}

.empty {
    color: #aaa;
    font-style: italic;
}

.bus-marker-container {
    font-size: 10px;
    line-height: 1em;
    font-weight: 500;

    .bus-marker {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        background-color: white;
        border: 2px solid black;
        border-radius: 10px;
        padding: 3px 3px 3px 5px;
        &:after {
            vertical-align: middle;
            font-family: 'Material Icons';
            content: "\e5c8";
            font-size: 1.2em;
        }
    }
}

.stop-marker{
  &.bus.normal:after, &.bus.mini:after {
    font-family: 'Material Icons';
    content: "\e530";
    color: black;
    text-shadow: 2px 2px 0px white,
                  -2px -2px 0px white;
  }
  &.metro.normal:after, &.metro.mini:after {
    display: block;
    font-family: 'Roboto';
    font-weight: 700;
    content: "T";
    color: black;
    background: white;
    border: 0.1em solid black;
    border-radius: 50%;
    text-align: center;
  }
  &.normal {
    font-size: 2em;
    height: 40px;
    width: 40px;
  }
  &.mini {
    font-size: 1em;
    height: 20px;
    width: 20px;
  }
  &.micro {
    background-color: black;
    height: 5px;
    width: 5px;
  }
}

.stop-label {
    pointer-events: none;
    position: relative;
    top: 20px;

    .stop-label-text {
        font-size: 1.1em;
        font-weight: bold;
        margin-left: -100px;
        text-align: center;
        width: 200px;
    }
}

#info-overlays {
    position: absolute;
    right: 2em;
    bottom: 2em;
    z-index: 10;

    > div {
        background-color: rgba(255, 255, 255, 0.65);
        border: none;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
        display: none;
        margin-top: 1em;
    }
}

#info {
    .vehicle-description {
        border-bottom: 2px solid #ddd;
        margin-bottom: 0.5em;
        padding-bottom: 0.5em;
    }

    .stop-name {
        font-weight: 500;
    }
}

#legend {
    .route {
        cursor: pointer;
        transition: background-color .1s ease;
        &:hover {
          background-color: white;
        }
    }
    thead {
        background-color: rgba(57, 87, 109, 0.65);
        font-size: 0.75em;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: white;
        .material-icons {
            font-size: 1.2em;
        }
    }
    th {
        padding: 5px 10px;
    }
    td {
        padding: 7px 10px;
    }
    td:not(.route-name){
        text-align: center;
        color: $neutral-4;
    }
}

.vehicle-pred {
    font-size: smaller;
    line-height: 1.5em;
    .pred-time {
        float: right;
    }

    .route-name {
        font-weight: 400;
    }
}

.vehicle-etas {
    .stop-name {
        font-size: 1.2em;
        font-weight: 500;

        .stop-alerts {
            float: right;
            position: relative;

            .alert {
                background-color: red;
                border-radius: 10px;
                color: white;
                font-weight: bold;
                text-align: center;
                height: 20px;
                width: 20px;
            }

            .alert-list {
                background-color: white;
                border: 1px solid black;
                border-left: 0;
                border-right: 0;
                /* box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4); */
                display: none;
                margin-top: 0;
                padding: 0.2em;
                position: absolute;
                left: 30px;
                top: -5px;
                width: 200px;
            }

            &:hover .alert-list {
                display: block;
            }
        }
    }

    .mode-head {
        background-color: rgba(57, 87, 109, 0.65);
        color: white;
        font-size: 0.75em;
        font-weight: 500;
        margin-bottom: 0.5em;
        padding: 0.2em;
        letter-spacing: 2px;
        text-transform: uppercase;

        .change-dir {
            color: white;
            float: right;
            font-size: small;

            &:hover {
                background-color: #222f3f;
            }
        }
    }

    .swatch {
        color: transparent;
        cursor: pointer;
        line-height: 15px;
        text-align: center;

        &:hover {
            color: white;
        }
    }

    .route-list {
        line-height: 1.5em;
        text-align: justify;
        a {
            border-radius: 5px;
            color: $accent-1;
            margin-right: 3px;
            padding: 0.1em;
            padding-left: 0.2em;
            padding-right: 0.2em;
            text-align: center;

            &:hover {
                background: $accent-3;
                color: white;
            }
        }

        a.active {
            background: $accent-1;
            color: white;
        }
    }
}

.badge.hidden .alert-message {
    max-width: 0;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.badge:hover .alert-message {
    max-width: 250px;
    padding-left: 1em !important;
    padding-right: 0.5em !important;
}

.alert.leaflet-popup {
    .leaflet-popup-content-wrapper {
        background-color: transparent;
        box-shadow: none;
    }
    .leaflet-popup-tip-container {
        z-index: -1;
    }
    .badge {
        margin: auto;
        position: relative;
        height: 20px;
        width: 20px;

        .badge-label {
            background-color: red;
            border: 1px solid black;
            border-radius: 10px;
            color: white;
            font-weight: bold;
            padding: 1px;
            text-align: center;
            width: 20px;
        }

        .alert-message {
            background-color: rgba(255, 255, 255, 0.8);
            border: 1px solid black;
            border-left: none;
            border-right: none;
            overflow: hidden;
            padding-left: 1em;
            padding-right: 0.5em;
            position: absolute;
            left: 16px;
            text-overflow: ellipsis;
            top: 0;
            white-space: nowrap;
            z-index: -1;

            /* Use an animation so it runs when the animation first appears: */
            animation-duration: 0.2s;
            animation-name: alert-appear;
            transition: max-width 0.2s linear, padding-left 0.2s linear, padding-right 0.2s linear;
        }
    }
}

@keyframes alert-appear {
    from {
        max-width: 0;
    }

    to {
        max-width: 250px;
    }
}
