.bus-marker-container {
    font-size: 10px;
    line-height: 1em;
    font-weight: 500;

    .bus-marker {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        background-color: white;
        border: 2px solid black;
        border-radius: 10px;
        padding: 3px;
        &:after {
            vertical-align: middle;
            font-family: 'Material Icons';
            content: "\e5c8";
            font-size: 1.2em;
        }
    }
}

#info-overlays {
    position: absolute;
    right: 1em;
    bottom: 1em;
    z-index: 10;

    > div {
        background-color: white;
        border: 1px solid #ddd;
        box-shadow: 0 0 5px darkgray;
        display: none;
        margin-top: 1em;
        padding: 1em;
    }
}

#info {
    .vehicle-description {
        border-bottom: 2px solid #ddd;
        margin-bottom: 0.5em;
        padding-bottom: 0.5em;
    }

    .stop-name {
        font-weight: 500;
    }
}

#legend {
    .route {
        line-height: 15px;
        cursor: pointer;

        &:hover {
            background-color: #eee;
        }

        .swatch {
            border-color: black;
            display: inline-block;
            height: 15px;
            margin-right: 0.5em;
            width: 15px;
        }
    }
}