$navbar-height: 40px;

.topnav {
  color: $brand-5;
  background-color: $brand-3;
  width: 100%;
  height: $navbar-height;

  ul {
    margin: 0;
    padding: 0;
    height: $navbar-height;
    li {
      transition: all .3s;
      float: left;
      padding: 0 2em;
      height: $navbar-height;
      line-height: $navbar-height;
      overflow: auto;
      &, & a {
        color: $brand-5;
      }

      &.logo {
        color: white;
      }

      &:not(.logo){
        float: right;
        &:hover, &.active {
          a {color: white;}
          background-color: $brand-2;
        }
      }
    }
  }
}
.sidenav {
  background-color: white;
  border-right: 1px solid $neutral-6;
  .search-route {
    padding: 1.5em 1em;
    margin: 0;
    border-bottom: 1px solid $neutral-6;
  }
  .select-route {
    padding: 1.5em 1em;
    background-color: $neutral-9;
  }
}