$toggle-radius: 15px;


// TODO: Rewrite the checkbox into div

/* Remove default checkbox */
[type="checkbox"].toggle:not(:checked),
[type="checkbox"].toggle:checked {
  position: absolute;
  left: -9999px;
  visibility: hidden;
}

// Checkbox Styles
[type="checkbox"].toggle {

  // Text Label Style
  + label {
    position: relative;
    color: $accent-1;
    cursor: pointer;
    display: inline-block;
    padding: 0.25em 0.5em;
    margin: 2px;
    border-radius: $toggle-radius;

    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */

    &:hover {
      color: white;
      background: $accent-3;
    }
  }

  &:checked {
    + label {
      color: white;
      background: $accent-1;
    }
  }
}

// Use these ones
.route-group {
  &:first-of-type{margin-bottom: 1em;}
  & > div {
    color: $accent-1;
    cursor: pointer;
    display: inline-block;
    padding: 0.25em 0.5em;
    margin: 2px;
    border-radius: $toggle-radius;
    &:hover{
      color: white;
      background: $accent-3;
    }
    &.active {
      color: white;
      background: $accent-1;
    }
  }
  &:after{
    clear: both;
  }
}


