/*--------------------
  Tables
---------------------*/

table, th, td {
   border: none;
}

table {
  width:100%;
  display: table;
  background-color: transparent;
}

td, th{
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  font-weight: normal;
}