<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Bus Route Map</title>
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
    </style>
    <script src="/static/javascript/app.js"></script>
  </head>
  <body>
    <div id="map"></div>
	
    <script>

var mylat = {{centerLatLon[0]}},
    mylon = {{centerLatLon[1]}};

function myMap() {
    var element = document.getElementById('map'),
        config = {  zoom: 14,
                    center: {lat: mylat, lng: mylon},
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                  };

    var map = new google.maps.Map(element, config);

    {% for bus in buses %}
      var marker = new google.maps.Marker(drawBus({{ bus|safe }}, map));    
    {% endfor %}
	
    // Draw subway lines
		var transitLayer = new google.maps.TransitLayer();
		transitLayer.setMap(map); 
	
		var marker = new google.maps.Marker({
                		  position: {lat: mylat, lng: mylon },
                		  map: map,
                		  title: 'YOU ARE HERE'
                		});
	
		{% for stop in stoplist %}
			var marker = new google.maps.Marker({
			  position: {lat: {{stop['stop_lat']}}, lng: {{stop['stop_lon']}}},
			  map: map,
			  icon: '{{ url_for('static', filename = 'busstop.png')}}',
			  title: "{{stop['stop_name'] | safe}} - Routes: {{stop['routes']}}"
			});
			
			var infowindow = new google.maps.InfoWindow({
                          			content: '{{stop['stop_name']}} - Routes: {{stop['routes']}}'
                          			});
                			
			marker.addListener('click', function() {
				infowindow.open(map, marker);
			});
			
		{% endfor %}
		
		var colors = ["#007fff", "#ff0000", "#00ff00", "#0000ff", "#ff9900", "#ff0099", "#4B0082",
						"#2E8B57", "#663300", "#cc0000"];
		var i = 0;
		{% for route in routepathdict %}
		
			{% for path in routepathdict[route] %}	
			  var routeCoordinates = [

				{% for latlon in path %}
					{lat: {{latlon[0]}} + .000002*(-2 + i%4), lng: {{latlon[1]}} + .000002*(-2 + i%3) },
				{% endfor %}
				   ];

			  var routePath = new google.maps.Polyline({
				path: routeCoordinates,
				geodesic: true,
				strokeColor: colors[i%10], //"#ff0099",
				strokeOpacity: 0.6,
				strokeWeight: 3
			  });

			  routePath.setMap(map);
			{% endfor %}
			i++;
		{% endfor %}
}

    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1SmWti0oIiSwT23aNcQtandgrrPfgBVU&signed_in=true&callback=myMap"></script>
  </body>
</html>