<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Bus Route Map</title>
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
		width: 80%
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
	
    <script>

	function initMap() {
		var map = new google.maps.Map(document.getElementById('map'), {
			zoom: 14,
			center: {lat: {{centerLatLon[0]}}, lng: {{centerLatLon[1]}} }, 
			mapTypeId: google.maps.MapTypeId.ROADMAP

		});
	
		var transitLayer = new google.maps.TransitLayer();
		transitLayer.setMap(map);  
	
		var marker = new google.maps.Marker({
		  position: {lat: {{centerLatLon[0]}}, lng: {{centerLatLon[1]}} },
		  map: map,
		  title: 'YOU ARE HERE'
		});
	
//		var stop_img = document.getElementById('stopimage');
//		var bus_img = document.getElementById('busimage');
	
		{% for stop in stoplist %}
			var marker = new google.maps.Marker({
			  position: {lat: {{stop['stop_lat']}}, lng: {{stop['stop_lon']}}},
			  map: map,
			  icon: '{{ url_for('static', filename = 'busstop.png')}}',
			  title: '{{stop['stop_name']}} - Routes: {{stop['routes']}}'
			});
			
			var infowindow = new google.maps.InfoWindow({
			content: '{{stop['stop_name']}} - Routes: {{stop['routes']}}'
			});
			
			marker.addListener('click', function() {
				infowindow.open(map, marker);
			});
			
		{% endfor %}


		{% for bus in buses %}
			var marker = new google.maps.Marker({
			  position: {lat: {{bus['lat']}}, lng: {{bus['lon']}}},
			  map: map,
			  icon: '{{ url_for('static', filename = 'bus.png')}}',
			  title: 'Route: {{bus['route']}} - Bearing: {{bus['bearing']}}'
			});
			
			
		{% endfor %}

		
		
		var colors = ["#007fff", "#ff0000", "#00ff00", "#0000ff", "#ff9900", "#ff0099", "#4B0082",
						"#2E8B57", "#663300", "#cc0000"];
		var i = 0;
		{% for route in routepathdict %}
		
			{% for path in routepathdict[route] %}	
			  var routeCoordinates = [

				{% for latlon in path %}
					{lat: {{latlon[0]}} + .000002*(-2 + i%4), lng: {{latlon[1]}} + .000002*(-2 + i%3) },
				{% endfor %}
				   ];

			  var routePath = new google.maps.Polyline({
				path: routeCoordinates,
				geodesic: true,
				strokeColor: colors[i%10], //"#ff0099",
				strokeOpacity: 0.6,
				strokeWeight: 3
			  });

			  routePath.setMap(map);
			{% endfor %}
			i++;
		{% endfor %}

  	
	}

    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1SmWti0oIiSwT23aNcQtandgrrPfgBVU&signed_in=true&callback=initMap"></script>
  </body>
</html>