<html>
<head>
  <title>MBTA Woohoo</title>

  <script type="text/javascript" data-main="/static/javascript/main" src="/static/javascript/require.js"></script>
  {% assets "scss_all" %}
  <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
  {% endassets %}

  <script>
   (function(i,s,o,g,r,a,m){i["GoogleAnalyticsObject"]=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
   })(window,document,"script","https://www.google-analytics.com/analytics.js",'ga');

   ga("create", "UA-77311117-1", "auto");
   ga("send", "pageview");

  </script>

</head>
<body>
  <header>
    <div class="logo">MBTA Woohoo!</div>
    <div class="routeCtrl">
      <i class="material-icons">vertical_align_bottom</i>
      Show Route Control
    </div>
    <button id="locate-me">Locate me!</button>
    <button id="click-to-zoom">Click to Zoom</button>
    <nav>
      <a class="active" href="#" id="map-view">Map View</a>
      <a href="#" id="graph-view">Graph View</a>
      <a href="https://github.com/robsideshow/mbta-bustracker" target="_blank">Fork Me!</a>
    </nav>
  </header>

  <div class="routeToggleControl">
    <i class="material-icons">directions_subway</i> Metro Routes:
    <div class="route-group" id="metro-selector">
    </div>
    <i class="material-icons">directions_bus</i> Bus Routes:
    <div class="route-group" id="route-selector"></div>
  </div>

  <div class="visualization">
    <div id="map">
    </div>

    <div id="info-overlays">
      <div id="info">
          <!-- Vehicle predictions -->
          <div class="vehicle-description"></div>
          <div class="vehicle-predictions"></div>
      </div>
      <div id="legend">
          <table class="highlight">
              <thead>
                  <th>
                      Route
                      <a class="material-icons size-to-fit" href="#">
                          aspect_ratio
                      </a>
                  </th>
                  <th><i class="material-icons">arrow_upward</i></th>
                  <th><i class="material-icons">arrow_downward</i></th>
              </thead>
              <tbody></tbody>
          </table>
      </div>
    </div>
    <div id="graph">
      <img src="/static/images/graph_view.png" />
      <h3>The show graph view might actual up at a some point of Boston history.</h3>
      <p>Depending on how we feel like it, of course.</p>
    </div>
  </div>
</body>
</html>
