<html>
<head>
  <title>MBTA Woohoo</title>

  <script type="text/javascript" data-main="/static/javascript/main" src="/static/javascript/require.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
  {% assets "scss_all" %}
  <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
  {% endassets %}

</head>
<body>
  <header>
    <div class="logo">MBTA Woohoo!</div>
    <nav>
      <a class="routeCtrl">
        <i class="material-icons">&#xE258;</i>
        Show Route Control
      </a>
      <a href="#" id="locate-me" alt="Click to toggle geolocation">
          <i class="material-icons geolocation_on">my_location</i>
          <i class="material-icons geolocation_off">location_searching</i>
      </a>
      <a href="#" id="click-to-zoom" alt="Zoom to a point on the map">
          <i class="material-icons">zoom_in</i>
      </a>
      <a class="active" href="#" id="map-view">Map View</a>
      <a href="https://github.com/robsideshow/mbta-bustracker" target="_blank">Fork Me!</a>
    </nav>
  </header>

  <div class="routeToggleControl">
    <i class="material-icons">&#xE533;</i> Subway Routes:
    <div class="route-group" id="metro-selector">
    </div>
    <i class="material-icons">&#xE530;</i> Bus Routes:
    <div class="route-group" id="route-selector"></div>
  </div>

  <div class="visualization">
    <div id="map">
    </div>

    <div id="info-overlays">
      <div id="info">
          <!-- Vehicle predictions -->
          <div class="vehicle-description"></div>
          <div class="vehicle-predictions"></div>
      </div>
      <div id="legend">
          <table class="highlight">
              <thead>
                  <th>
                      Route
                      <a class="material-icons size-to-fit" href="#">
                          &#xE85B;
                      </a>
                  </th>
                  <th><i class="material-icons">&#xE5D8;</i></th>
                  <th><i class="material-icons">&#xE5DB;</i></th>
                  <th></th>
              </thead>
              <tbody></tbody>
          </table>
      </div>
    </div>
    <div id="graph">
      <img src="/static/images/graph_view.png" />
      <h3>The show graph view might actual up at a some point of Boston history.</h3>
      <p>Depending on how we feel like it, of course.</p>
    </div>
  </div>
</body>
</html>
