<html>
<head>
  <title>MBTA Woohoo</title>

  <script type="text/javascript" data-main="/static/javascript/main" src="/static/javascript/require.js"></script>
  {% assets "scss_all" %}
  <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
  {% endassets %}
</head>
<body>
  <header class="row">
    <nav class="topnav">
      <ul class="col m12">
        <li class="logo">MBTA Woohoo!</li>
        <li><a href="https://github.com/robsideshow/mbta-bustracker" target="_blank">Fork Me!</a></li>
        <li><a href="#" id="graph-view">Graph View</a></li>
        <li class="active"><a href="#" id="map-view">Map View</a></li>
      </ul>
    </nav>
  </header>
  <div class="row container">
    <div class="col m3">
      <div class="sidenav">     
        <form>
          <fieldset class="search-route">
            <button class="btn secondary">Locate me!</button>
          </fieldset>
          <fieldset class="select-route">
            Toggle routes:<br>
              <div id="route-selector"></div>
          </fieldset>
          <div class="clearfix"></div>
        </form>
      </div>
    </div>
    <div class="col m9">
      <div class="visualization">
        <div id="map"></div>
        <div id="graph">
          <img src="/static/images/graph_view.png" />
          <h3>The show graph view might actual up at a some point of Boston history.</h3>
          <p>Depending on how we feel like it, of course.</p>
        </div>

        <div id="info-overlays">
            <div id="info">
                <!-- Vehicle predictions -->
                <div class="vehicle-description"></div>
                <div class="vehicle-predictions"></div>
            </div>
            <div id="legend">
                <table class="highlight">
                    <thead>
                        <th>Route</th>
                        <th><i class="material-icons">arrow_downward</i></th>
                        <th><i class="material-icons">arrow_upward</i></th>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
