{{#if name}}
    <div class="alert-message">
        {{ name }}
        <br/>
        <div class="alert-stamp">

        </div>
    </div>
{{/if}}

<div class="badge-label">
    {{#if weight}}
        {{ weight }}
    {{else}}
        !
    {{/if}}
</div>
