{{#each routes}}
    <input type="checkbox" id="check_{{id}}" class="toggle left"
           value="{{id}}"/>
    <label for="check_{{id}}">{{ name }}</label>
{{/each}}

<a class="all-on" href="#">All</a>
