<div class="popup-header">
    <div class="stop-name">
       {{ stop.name }}
    </div>
    <div class="route-list">
    {{#each routes }}
      <a href="#" class="toggle {{#if active}}active{{/if}}"
        data-route_id="{{id}}">
        {{ shortName }}
      </a>
    {{/each}}
    </div>
</div>

<div class="popup-content">
  {{#each modes }}
    <div class="mode-head">
      {{ name }}
      <a href="#" class="material-icons change-dir" data-mode="{{name}}">
        swap_horiz
      </a>
    </div>
    <table>
    {{#each preds}}
      <tr class="vehicle-pred" data-route="{{route_id}}">
        <td>
          <a class="swatch" style="background-color: {{color}}">&times;</a>
          {{name}}&rarr;<span class="route-name">{{destination}}</span>
        </td>
        <td class="pred-time">{{briefRelTime}}</td>
      </tr>
    {{/each}}
    </table>
{{/each}}
</div>
