<div class="popup-header">
    <div class="stop-name">
        {{ name }} <span class="stop-id">({{ stop_id }})</span>

        {{#if alerts}}
            <div class="stop-alerts">
                <div class="alert">!</div>
                <ul class="alert-list">
                    {{#each alerts}}
                        <li>{{ name }}</li>
                    {{/each}}
                </ul>
            </div>
        {{/if}}
    </div>
    <div class="route-list">
        {{#each routes }}
            <a href="#" class="toggle-route {{#if active}}active{{/if}}"
               data-route_id="{{id}}">
                {{ shortName }}
            </a>
        {{/each}}

        {{#if showAllButton}}
            <a href="#" class="all-on">All</a>
        {{/if}}
    </div>
</div>

<div class="popup-content">
    {{#each modes}}
        <div class="mode-head">
            {{ name }}
            {{#unless oneWayUp}}
                <a href="#" class="material-icons dir-down {{#unless upDir }}active{{/unless}}" data-mode="{{key}}">
                    &#xE5DB;
                </a>
            {{/unless}}
            {{#unless oneWayDown}}
                <a href="#" class="material-icons dir-up {{#if upDir }}active{{/if}}" data-mode="{{key}}">
                    &#xE5D8;
                </a>
            {{/unless}}
        </div>
        <table>
            {{#each preds}}
                <tr class="vehicle-pred"
                    data-route="{{route_id}}"
                    data-vehicle="{{vehicle_id}}">
                    <td>
                        <a class="swatch" style="background-color: {{color}}"></a>
                        {{name}} &rarr; <span class="route-name">
                            {{destination}}
                        </span>
                    </td>
                    <td class="pred-time">{{briefRelTime}}</td>
                </tr>
            {{/each}}
            {{^preds}}
                <tr class="empty">
                    <td colspan="2">No predictions</td>
                </tr>
            {{/preds}}
        </table>
    {{ else }}
        <div class="empty">
            No routes selected
        </div>
    {{/each}}
</div>
